
    <!-- Sidebar  -->

        <nav id="sidebar" [ngClass]="{'active': menu}">
            <div class="sidebar-header">
                
                <img src="../../assets/img/logo_grupo_serin.png" alt="SERIN" class="text-center">
                <button class="btn btn-info d-inline-block  ml-auto  float-end " (click)="this.menu=!this.menu"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            
            <ul class="list-unstyled components">
                
                <li >
                    <a routerLink="viajes" routerLinkActive>Viajes <i class="fa fa-truck fs-5 fw-light float-end me-3 mt-1"></i></a> 
                </li>
                <li class="ms-4">
                    <a routerLink="viajes/abiertos" routerLinkActive>Abiertos <i class="fa fa-hourglass-end fs-5 fw-light float-end me-3 mt-1 "></i></a>
                </li>
                <li class="ms-4">
                    <a routerLink="viajes/iniciados" routerLinkActive>Iniciados <i class="fa fa-clock-o fs-5 fw-light float-end me-3 mt-1 "></i></a> 
                </li>
                <li class="ms-4">
                    <a routerLink="viajes/pausados">Pausados <i class="fa fa-pause fs-5 fw-light float-end me-3 mt-1 "></i></a> 
                </li>
                <li class="ms-4">
                    <a routerLink="viajes/terminados">terminados <i class="fa fa-times fs-5 fw-light float-end me-3 mt-1 "></i></a> 
                </li>
            </ul>
            <div class="copyright">
                <span>Copyright 2023</span>
            </div>
        </nav>


 

