<div class="container mt-3">
    <div class="row">        
        <div class="col-lg-6 mb-3"><div class="card bg-secondary bg-opacity-10">
            <h3 class="card-header"><b>#{{ viaje.nroviaje }}</b> - {{ viaje.viaje }} <span class="kg badge text-primary fs-5 float-end">{{ viaje.peso }} kg</span></h3>
            <div class="card-body">   
                <div class="fecha float-end">{{ viaje.fecha }}</div>                 
                <h5 class="card-title mb-3"><b>#{{ viaje.codtransporte }}</b> - {{ viaje.transporte }}</h5>
                <div class="card-text">
                    <div class="clientes flex-grow-1 flex-shrink-0">
                        <strong>{{ viaje.clientes }} Clientes (*** Remitos)</strong>
                    </div>
                    <div class="obs my-5"><small>observaciones: <br></small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo est iste, mollitia quo deserunt recusandae.</div>
                </div>
                
                <div class="text-end me-3 mt-3">
                        <p>Operadores asignados</p>
                        <div class="cargadores d-flex justify-content-end ">
                            <span class="cargador ">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary " href="#" data-bs-toggle="tooltip" data-bs-title="Juan Perez">JP</a>
                            </span><span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">PJ</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">DH</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">NP </a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">FV </a>
                            </span>
                            <!-- <a href="#" class="btn btn-xs btn-primary btn-rounded">+ more</a> -->
                        </div>
                    </div>
            </div>
            <div class="card-footer d-flex justify-content-evenly">
                <button routerLink="/detalle" class="btn btn-primary text-white">Ver detalles</button>

            </div>
        </div></div>
    </div>
</div>


