<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="card bg-secondary bg-opacity-10">
                <div class="card-body">                    
                    <h4 class="card-title mb-3">#111  -  transporte <span class="kg badge text-primary fs-5 float-end">550 kg</span></h4>
                    <div class="card-text d-flex justify-content-around gap-4 flex-wrap flex-xl-nowrap">
                        <div class="clientes flex-grow-1 flex-shrink-0">
                            <h5 class="cliente"><b><small>#123 - </small></b> Armando Esteban Kito S.R.L </h5>
                            <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                            <h5 class="cliente"><b><small>#456 - </small></b> Don Satur Galletas S.A </h5>
                            <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                            <h5 class="cliente"><b><small>#789 - </small></b> Arcor S.R.L </h5>
                            <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        </div>
                        
                        <span class="obs"><small>observaciones: <br></small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo est iste, mollitia quo deserunt recusandae.</span>
                    </div>
                    
                    <div class="text-end me-3 mt-3">
                            <p>Cargadores asignados</p>
                            <div class="cargadores d-flex justify-content-end ">
                                <span class="cargador ">
                                    <a class="rounded-circle text-decoration-none text-white p-2 bg-primary " href="#" data-bs-toggle="tooltip" data-bs-title="Juan Perez">JP</a>
                                </span><span class="cargador">
                                    <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">PJ</a>
                                </span>
                                <span class="cargador">
                                    <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">DH</a>
                                </span>
                                <span class="cargador">
                                    <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">NP </a>
                                </span>
                                <span class="cargador">
                                    <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">FV </a>
                                </span>
                                <!-- <a href="#" class="btn btn-xs btn-primary btn-rounded">+ more</a> -->
                            </div>
                        </div>
                </div>
                <div class="card-footer d-flex justify-content-evenly">
                    <button class="btn btn-primary text-white">Ver detalles</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-3"><div class="card bg-secondary bg-opacity-10">
            <div class="card-body">                    
                <h4 class="card-title mb-3">#111  -  transporte <span class="kg badge text-primary fs-5 float-end">550 kg</span></h4>
                <div class="card-text d-flex justify-content-around gap-4 flex-wrap flex-xl-nowrap">
                    <div class="clientes flex-grow-1 flex-shrink-0">
                        <h5 class="cliente"><b><small>#123 - </small></b> Armando Esteban Kito S.R.L </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        <h5 class="cliente"><b><small>#456 - </small></b> Don Satur Galletas S.A </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        <h5 class="cliente"><b><small>#789 - </small></b> Arcor S.R.L </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                    </div>
                    
                    <span class="obs"><small>observaciones: <br></small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo est iste, mollitia quo deserunt recusandae.</span>
                </div>
                
                <div class="text-end me-3 mt-3">
                        <p>Cargadores asignados</p>
                        <div class="cargadores d-flex justify-content-end ">
                            <span class="cargador ">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary " href="#" data-bs-toggle="tooltip" data-bs-title="Juan Perez">JP</a>
                            </span><span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">PJ</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">DH</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">NP </a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">FV </a>
                            </span>
                            <!-- <a href="#" class="btn btn-xs btn-primary btn-rounded">+ more</a> -->
                        </div>
                    </div>
            </div>
            <div class="card-footer d-flex justify-content-evenly">
                <button class="btn btn-primary text-white">Ver detalles</button>

            </div>
        </div></div>
        <div class="col-lg-6 mb-3"><div class="card bg-secondary bg-opacity-10">
            <div class="card-body">                    
                <h4 class="card-title mb-3">#111  -  transporte <span class="kg badge text-primary fs-5 float-end">550 kg</span></h4>
                <div class="card-text d-flex justify-content-around gap-4 flex-wrap flex-xl-nowrap">
                    <div class="clientes flex-grow-1 flex-shrink-0">
                        <h5 class="cliente"><b><small>#123 - </small></b> Armando Esteban Kito S.R.L </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        <h5 class="cliente"><b><small>#456 - </small></b> Don Satur Galletas S.A </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        <h5 class="cliente"><b><small>#789 - </small></b> Arcor S.R.L </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                    </div>
                    
                    <span class="obs"><small>observaciones: <br></small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo est iste, mollitia quo deserunt recusandae.</span>
                </div>
                
                <div class="text-end me-3 mt-3">
                        <p>Cargadores asignados</p>
                        <div class="cargadores d-flex justify-content-end ">
                            <span class="cargador ">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary " href="#" data-bs-toggle="tooltip" data-bs-title="Juan Perez">JP</a>
                            </span><span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">PJ</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">DH</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">NP </a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">FV </a>
                            </span>
                            <!-- <a href="#" class="btn btn-xs btn-primary btn-rounded">+ more</a> -->
                        </div>
                    </div>
            </div>
            <div class="card-footer d-flex justify-content-evenly">
                <button class="btn btn-primary text-white">Ver detalles</button>

            </div>
        </div></div>
        
        <div class="col-lg-6 mb-3"><div class="card bg-secondary bg-opacity-10">
            <div class="card-body">                    
                <h4 class="card-title mb-3">#111  -  transporte <span class="kg badge text-primary fs-5 float-end">550 kg</span></h4>
                <div class="card-text d-flex justify-content-around gap-4 flex-wrap flex-xl-nowrap">
                    <div class="clientes flex-grow-1 flex-shrink-0">
                        <h5 class="cliente"><b><small>#123 - </small></b> Armando Esteban Kito S.R.L </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        <h5 class="cliente"><b><small>#456 - </small></b> Don Satur Galletas S.A </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                        <h5 class="cliente"><b><small>#789 - </small></b> Arcor S.R.L </h5>
                        <small class="dir-cliente">calle 123 - Localidad - Provincia</small>
                    </div>
                    
                    <span class="obs"><small>observaciones: <br></small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nemo est iste, mollitia quo deserunt recusandae.</span>
                </div>
                
                <div class="text-end me-3 mt-3">
                        <p>Cargadores asignados</p>
                        <div class="cargadores d-flex justify-content-end ">
                            <span class="cargador ">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary " href="#" data-bs-toggle="tooltip" data-bs-title="Juan Perez">JP</a>
                            </span><span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">PJ</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">DH</a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">NP </a>
                            </span>
                            <span class="cargador">
                                <a class="rounded-circle text-decoration-none text-white p-2 bg-primary">FV </a>
                            </span>
                            <!-- <a href="#" class="btn btn-xs btn-primary btn-rounded">+ more</a> -->
                        </div>
                    </div>
            </div>
            <div class="card-footer d-flex justify-content-evenly">
                <button class="btn btn-primary text-white">Ver detalles</button>

            </div>
        </div></div>
    </div>
</div>


