<div class="container-fluid mt-3">
    <div class="row mb-5 mx-md-4">
        <div class="col-lg-12 mb-3 ">
            <div class="card bg-secondary bg-opacity-10 ">
                <h4 class="card-header border-bottom mb-3">#{{ detalleViaje.nroviaje }}  -  {{ detalleViaje.viaje }} <span class="kg badge text-primary fs-5 float-end">{{ detalleViaje.peso }} kg</span></h4>
                <div class="card-body">                    
                    <div class="fecha float-end">{{ detalleViaje.fecha | date: 'dd-MM-YYYY' }}</div>                 
                    <h5 class="card-title mb-3"><b>#{{ detalleViaje.codtransporte }}</b> - {{ detalleViaje.transporte }}</h5>
                    <hr>
                    <div class="row  ">
                        <!-- <span class="obs mb-3"><small>observaciones: <br></small>
                            Lorem ipsum dolor sit amet consectetur 
                        </span> -->
                        <div class="col-lg-6 mb-3 ">
                            <p>
                                <button
                                    type="button"
                                    class="btn btn-outline-info"
                                    (click)="colapseOperarios = !colapseOperarios"
                                    [attr.aria-expanded]="!colapseOperarios"
                                    aria-controls="collapseExample"
                                >
                                    Operarios
                                </button>
                            </p>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="colapseOperarios">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="operario" *ngFor="let cargador of listCargadores">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="cargardores-{{cargador.Idusuario}}" (click)="cargarOperario(cargador.Idusuario)" [disabled]="cerrado || detalleViaje.carga?.Estado == 3" [checked]="isCargador(cargador.Idusuario)">
                                                <label class="form-check-label" for="cargardores-{{cargador.Idusuario}}">{{ cargador.Nombre }} {{ cargador.Apellido }}</label>                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="" *ngIf="colapseOperarios">
                                <div class="cargadores d-flex ">
                                    <span class="cargador " *ngFor="let cargActivo of cargadoresActivos, let i = index">
                                        <a   class="rounded-circle text-decoration-none text-white p-2 bg-primary " placement="top" ngbTooltip="{{ cargActivo.Nombre}} {{cargActivo.Apellido }}" >{{ cargActivo.Nombre |slice:0:1}}{{ cargActivo.Apellido |slice:0:1 }}</a>
                                    </span>
                                    <!-- <a href="#" class="btn btn-xs btn-primary btn-rounded">+ more</a> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <p>
                                <button
                                    type="button"
                                    class="btn btn-outline-info"
                                    (click)="colapseRemitos = !colapseRemitos"
                                    [attr.aria-expanded]="!colapseRemitos"
                                    aria-controls="collapseExample"
                                >
                                    Remitos
                                </button>
                            </p>
                            <div #collapse="ngbCollapse" [(ngbCollapse)]="colapseRemitos">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-check form-switch">
                                            <label class="form-check-label text-muted fw-bold" for="remitos-todos">
                                                Todos
                                            </label>
                                            <input  class="form-check-input" [(ngModel)]="todos" type="checkbox" role="switch" id="remitos-todos" (click)="cargaRemito('TODOS')" [disabled]="!play || detalleViaje.carga?.Estado == 3 || todos" >

                                        </div>
                                
                                        <div class="remitos " *ngFor="let remito of detalleViaje.detalle">                                            
                                            <div class="form-check form-switch">
                                                <hr class="m-0">
                                                <input  class="form-check-input mt-3" type="checkbox" role="switch" id="remitos-{{ remito.Entrega }}" (click)="cargaRemito(remito.Entrega)" [disabled]="!play || detalleViaje.carga?.Estado == 3" [checked]="remitoCargado(remito.Entrega)">
                                                <label class="form-check-label" for="remitos-{{ remito.Entrega }}">
                                                    {{remito.Cliente}} <br>
                                                    <small>Pedido #{{ remito.Pedido }}</small> - 
                                                    <small>Entrega #{{ remito.Entrega }} </small>  
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                           
                           
                           
                           
                        
                        </div> 
                       
                    </div>
                </div>
                <div class="card-footer card-footer sticky-bottom bottom-0 start-0 w-100 bg-secondary-subtle d-flex justify-content-evenly z-2">
                    <div class="cronometro text-center col-md-12" *ngIf=" detalleViaje.carga?.Estado != 3">
                        <h4><b><small *ngIf="cronometro?.getTimeValues().days>0">{{ cronometro?.getTimeValues().days| number:'2.0' }} días</small></b> {{ cronometro?.getTimeValues().hours | number:'2.0' }}:{{ cronometro?.getTimeValues().minutes | number:'2.0' }}:{{ cronometro?.getTimeValues().seconds | number:'2.0' }}</h4>
                        <div class="botones d-flex justify-content-center gap-2">
                            <button  class=" btn text-success" placement="bottom" ngbTooltip="Iniciar / Pausar" [disabled]="cerrado">
                                <i class="fa fa-play fs-4" [ngClass]="play ? 'fa-pause' : 'fa-play'"  (click)="!play ? iniciar() : openModal(motivo)"></i>
                            </button>
                            <button class="btn text-success" placement="bottom" ngbTooltip="Detener" [disabled]="detalleViaje.carga?.Estado == 2 || detalleViaje.carga?.movimientos?.length == 0" (click)="detener()">
                                <i class="fa fa-stop fs-4"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row w-100 overflow-hidden" *ngIf="detalleViaje.carga?.Estado == 3">
                        <div class="calificacion text-center col-md-6" >
                            Calificación
                            <div class="stars text-center mt-2">

                                <ngb-rating [(rate)]="detalleViaje.carga.Calificacion"  [max]="3" class="rating d-flex  justify-content-lg-center gap-2 justify-content-md-start justify-content-xs-start w-100">
                                    <ng-template let-fill="fill" let-index="index">

                                        <!-- <span class="fa-stack fa-1x fs-4" (click)="calificar(index)">
                                            <i class=" fa-stack-2x {{fill === 100 ? 'checked fa fa-star' : ''}}"></i>
                                            <span class="fa fa-stack-1x {{fill === 100 ? 'text-white' : ''}}">{{ index }}</span>
                                          </span> -->
                                        <div class="circulo rounded-circle  {{detalleViaje.carga.Calificacion-1 === index ? 'checked border-1 border-info bg-info text-white' : ''}}" (click)="calificar(index)">
                                            <span class="fs-2 ">{{ index }}</span>

                                        </div>

                         
                                        
                                        <!-- <span class="badge rounded-pill bg-secondary">
                                        <i class="fa fa-star fs-3 m-3  {{fill === 100 ? 'checked' : ''}}" (click)="calificar(index)" ></i><br>
                                        {{(index === 0) ? '0: Sin observaciones' : (index === 1) ? '1: Una observacion' : '2: Varias Observaciones'}}
                                        </span> -->
                                    </ng-template>
                                </ngb-rating>
                            </div>
                        </div>
                        <div class="addfoto col-md-6 text-center" >
                            Agregar Fotografías
                            <div class="addfotos text-center ">
                        
                                <form enctype="multipart/form-data" (ngSubmit)="subirFotos()">
                        
                                    <input class="m-3 " [(ngModel)]="hasfoto" name="hasfoto" type="file" accept="image/*" capture="camera" id="camera"  (change)="onFileSelected($event)" />
                                    <button type="submit" class="btn btn-outline-info my-3">
                                        Guardar
                                    </button>
                                </form>
                                <!-- <input class="m-3 " type="file" accept="image/*" capture="environment"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-3 " *ngIf="detalleViaje.carga?.movimientos?.length  > 0">
            <div class="card bg-secondary bg-opacity-10 ">
                <h4 class="card-header border-bottom mb-3">MOVIMIENTOS</h4>
                
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <!--<th class=" d-none d-md-table-cell" scope="col ">#</th>
                                <th class=" d-none d-md-table-cell" scope="col">Id Ctrl Carga</th>-->
                                <th scope="col">Desde</th>
                                <th scope="col">Hasta</th>
                                <th scope="col">Tiempo</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Acumulado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let movs of detalleViaje.carga.movimientos; index as i">
                                <!--<th class=" d-none d-md-table-cell align-middle" scope="row">{{movs.IdControlCargaMovimiento}}</th>
                                <td class=" d-none d-md-table-cell align-middle" align="center">{{movs.IdControlCarga}}</td>-->
                                <td class="align-middle">  {{movs.FechaDesde | date: 'dd-MM-YY HH:mm:ss'}}</td>
                                <td class="align-middle">  {{movs.FechaHasta | date: 'dd-MM-YY HH:mm:ss'}}</td>
                                <td class="align-middle" *ngIf="movs.FechaHasta"> {{ calcularTiempo(movs.segundos) }}</td>
                                <td class="align-middle"*ngIf="!movs.FechaHasta"> </td>
                                <td class="align-middle"> {{getMotivo(movs.IdMotivo)}}</td>
                                <td class="align-middle" *ngIf="movs.FechaHasta"> {{ calcularSubtotal(i) }}</td>
                                <td class="align-middle" *ngIf="!movs.FechaHasta"> </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <p class="float-end"> Tiempo Bruto: {{calcularTotal()}}</p>

                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-3 " *ngIf="detalleViaje.carga?.Fotos?.length  > 0">
            <div class="card bg-secondary bg-opacity-10 ">
                <h4 class="card-header border-bottom mb-3">Fotos</h4>
                <div class="card-body">
                    <div class="fotos fotos d-flex flex-wrap justify-content-center" >
                        <div class="foto position-relative" *ngFor="let foto of listFotos">
                            <img src="{{ fotosURL }}{{ foto }}" class="rounded img-fluid img-thumbnail flex-shrink-1" alt="foto"  (click)="openFoto(foto,fotoModal)">
                            <a role="button" (click)="borrarFoto(foto)" class="position-absolute" placement="top" ngbTooltip="Eliminar foto">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<ng-template #motivo let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Motivo</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<div class="input-group">
					<select [(ngModel)]="IdMotivo" name="Motivo">
                        <option [ngValue]="null" disabled>Seleccione el Motivo</option>
                        <option *ngFor="let motivo of listMotivos" [ngValue]="motivo.IdControlCargaMotivo">{{motivo.Descripcion}}</option>
                      </select>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Pausar</button>
	</div>
</ng-template>

<ng-template #fotoModal let-modal>
	<div class="modal-header">
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
			<div class="mb-3 position-relative">
				<img class="position-relative img-fluid" src="{{ fotosURL }}{{ loader.fotoModal }}" alt="foto" srcset="">
			</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">cerrar</button>
	</div>
</ng-template>