.checked {
    color: orange;
  }

.cargador{
    width: 35px;
    text-align: center;
}
.cargador a{
    width: 40px;
    aspect-ratio: 1;
    outline: solid 1px white;
    display: block; 
    cursor: pointer;
}
.cargador a:hover{
    z-index: 2;
    position: relative;
}
/****** FOTOS ***/
.foto{
    width: 150px;
}
.fotos img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.fotos a{
    right: 15px;
  top: 15px;
  background: #e9eaeb;
  padding: 3px;
  border-radius: 100%;
  aspect-ratio: 1;
  color: red;
  width: 25px;
  text-align: center;
}