<div class=" bg-plum-plate bg-animation">
    <div class="d-flex h-100 justify-content-center align-items-center p5">
      <div class="mx-auto app-login-box col-md-6 col-lg-4 col-xl-4 ">
        <div class="text-center"></div>
        <div class="modal-dialog w-100 mx-auto bg-white shadow px-5">
          <div class="modal-content">
            <div class="modal-body p-3">
              <div class="h5 modal-title text-center">
                <h4 class="mt-2">
                  <div><img src="assets/img/logo-azul.png" width="62"></div>
                  <span>V1.0.2 - Ingresa tu usuario y contraseña.</span></h4>
              </div>
              <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
                   class="form-group mt-3">
                <div><input id="exampleInput1" [(ngModel)]="usuario" placeholder="Ingrese su usuario" required="required"
                            aria-required="true" class="form-control"
                            aria-describedby="exampleInputGroup1__BV_description_">
                  
                </div>
              </div>
              <div id="exampleInputGroup2"  role="group" class="form-group mt-3">
                <div><input id="exampleInput2" type="password" [(ngModel)]="contra" (keyup.enter)="Ingresar()" placeholder="Ingrese su contraseña" required="required"
                            aria-required="true" class="form-control"></div>
              </div>
              
              
              </div>
            <div class="modal-footer clearfix p-3">
              
              <div class="float-right">
                <button type="button" (click)="Ingresar()" class="btn btn-primary">Ingresar</button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="footer position-absolute bottom-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="datos">ATENCION AL CLIENTE: 414-1900 (Lineas rotativas)</div>
            </div>
        </div>
    </div>
</div>
  